{% extends 'base.html' %}
{% block content %}
    <div class="todo-container">
        <div class="todo-header">
            <h2>This is Register Page</h2>
        </div>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="todo-item">
                {{ form.as_p }}
            </div>
            <div class="todo-item">
                <button type="submit">REGISTER</button>
            </div>
        </form>
        <div class="todo-item">
            <a href="{% url 'home-page' %}">
                <button>HOME PAGE</button>
            </a>
        </div>
    </div>
{% endblock %}
